<div class="row">
    <div class="col text-center justify-content-center">
        @if (error()) {
            <p>Präsentation konnte nicht geladen werden, bitte versuchen Sie es später nochmal.</p>
        }
        @else if (isFetching()) {
            <p>Präsentation wird geladen.</p>
        }
        @else if (presentation()) {
            <h4>{{getPresentationInfo()}}</h4>
            <br/>
            <br/>
            <br/>
            <table class="table table-borderless mx-auto">
                @for (seatRow of getSeatRows(); track $index) {
                    <tr>
                        @for (seat of seatRow.seats; track $index) {
                            <td class="align-center">
                                <div class="form-check">
                                    @if (seat.status === 'AVAILABLE') {
                                        <input class="form-check-input" 
                                        type="checkbox" 
                                        [id]="seat.id"
                                        (change)="onChangeCheckbox($event, seat.id)"/>
                                    }
                                    @else if (seat.status === 'OCCUPPIED') {
                                        <input class="form-check-input" 
                                            type="checkbox" 
                                            [id]="seat.id" disabled/>
                                    }
                                    @else {
                                        <span></span>
                                    }
                                </div>
                            </td>
                        }
                    </tr>
                }
            </table>
            <br/>
            <br/>
            <br/>
            <hr/>
        }
    </div>
    <div class="row">
        <div class="col-1">
            <button type="button" class="btn btn-secondary" (click)="onBackButtonClick()">Zurück</button>
        </div>
        <div class=" col-11 d-flex justify-content-end">
            @if (currentTotalPrice() > 0) {
                <span class="fs-4 price-span">Preis: {{currentTotalPrice() | currency: 'EUR': 'symbol': undefined: 'de'}}</span>&nbsp;
            }
            @else {
                <span class="fs-4 price-span">Preis: </span>
            }
            &nbsp;
            <button type="button" class="continue btn btn-primary" [disabled]="currentTotalPrice() === 0">Weiter</button>
        </div>
    </div>
</div>
