<div class="row">
    <div class="col text-center justify-content-center">
        @if (error()) {
            <p>Präsentation konnte nicht geladen werden, bitte versuchen Sie es später nochmal.</p>
        }
        @else if (isFetching()) {
            <p>Präsentation wird geladen.</p>
        }
        @else if (presentation()) {
            <h4>{{getPresentationInfo()}}</h4>
            <table class="table table-borderless">

            </table>
            <!--
            @for (film of loadedFilms(); track $index) {
                <h3>{{film.name}}</h3>
                <br/>
                <table class="table table-bordered w-75 mx-auto">
                    <thead>
                        <tr>
                            @for (presentationsPerDay of film.presentationsPerDay; track $index) {
                                <th scope="col">{{presentationsPerDay.dayOfWeek}}</th>
                            }
                        </tr>
                        <tr>
                            @for (presentationsPerDay of film.presentationsPerDay; track $index) {
                                <td class="align-text-top">
                                    @for (presentation of presentationsPerDay.presentations; track $index) {
                                        <a [routerLink]="['/presentation', presentation.id]">{{presentation.startTime}}</a><br/>
                                    }
                                </td>
                            }
                        </tr>
                    </thead>
                </table>
                <br/>
            }
            -->
        }
    </div>
</div>
