<div class="row">
    <div class="col text-center justify-content-center">
        @if (error()) {
            <p>Filme konnten nicht geladen werden, bitte versuchen Sie es später nochmal.</p>
        }
        @else if (isFetching()) {
            <p>Filme werden geladen.</p>
        }
        @else if (loadedFilms().length > 0) {
            @for (film of loadedFilms(); track $index) {
                <h3>{{film.name}}</h3>
                <br/>
                <table class="table table-bordered w-75 mx-auto">
                    <thead>
                        <tr>
                            @for (presentationsPerDay of film.presentationsPerDay; track $index) {
                                <th scope="col">{{presentationsPerDay.dayOfWeek}}</th>
                            }
                        </tr>
                        <tr>
                            @for (presentationsPerDay of film.presentationsPerDay; track $index) {
                                <td scope="col align-items-start">
                                    @for (presentation of presentationsPerDay.presentations; track $index) {
                                        <a href="#">{{presentation.startTime}}</a><br/>
                                    }
                                </td>
                            }
                        </tr>
                    </thead>
                </table>
                <br/>
            }
        }
    </div>
</div>
